.App {
  text-align: center;
}
fieldset {
  padding-top: 15px;
  margin: 30px 30px;
  position: relative;
  
}
.btn {
  padding: 12px 12px;
  width: 50%;
  border: none;
  border-radius: 6px;
  font-weight: 800;
}
.btn-primary:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}
.btn-primary {
  background-color: #32cd32;
  color: white;
}
