.App {
  text-align: center;
}
.btn {
  padding: 12px 12px;
  width: 50%;
  border: none;
  border-radius: 6px;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 12px;
  margin-top: 10px;
}
.btn-primary:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}
.btn-primary {
  background-color: #32cd32;
  color: white;
}
.track-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  margin: 20px 0;
}
.card-playlist {
  width: 250px;
  border-radius: 8px;
  border: 2px solid #c2d3e2;
  padding: 14px;
  background-color: rgb(255, 255, 255);
  float: left;
}
.card-playlist img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.card-playlist h3{
  font-weight: 600;
  min-height: 58px;
}
.card-playlist p {
  font-weight: 300;
}
.search {
  margin-top: 50px;
}
.login-app {
  width: 100%;
  border-radius: 6px;
  font-weight: 800;
  margin-top: 50px;
}
input {
  margin-right: 8px;
}
.form input,
textarea {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
  margin: 3px 3px;
  border-radius: 6px;
  border: 1px #bdbdbd solid;
  resize: none;
}